<?php

class ConnectionInfo {

  //Google account that owns the Fusion Table
  public static $google_username = "xxxxxxx";
  public static $google_password = "xxxxxxx";

  public static $view_uid = "7nii-7srd"; //Chicago's building data: http://data.cityofchicago.org/Service-Requests/311-Service-Requests-Vacant-and-Abandoned-Building/7nii-7srd
  public static $data_site = "data.cityofchicago.org"; //Chicago's data portal
  public static $app_tokenn = "xxxxxxx"; //register with Socrata here: http://dev.socrata.com/authentication
  public static $fusionTableId = 1614852;
  
}
?>