<?php

class ConnectionInfo {

  //Google account that owns the Fusion Table
  public static $google_username = "xxxxxxx";
  public static $google_password = "xxxxxxx";
  public static $googleApiKey = "xxxxxxx"; //get yours here: https://code.google.com/apis/console/
  public static $fusionTableId = "1NLcaLm_-WRxEsOt57pQ0afGi8X_wNZspSO61D-M"; //must be encrypted!
  
}
?>